# pip
pip==23.1.2
build>=0.10.0
setuptools>=67
wheel>=0.40.0

# setup_requirements
pytest-runner>=5.2

# test_requirements
black==23.3.0
codecov==2.1.13
flake8==6.0.0
flake8-debugger==4.1.2
pytest==5.4.3
pytest-cov==4.0.0
pytest-raises==0.11

# dev_requirements
versioneer>=0.28
coverage>=5.1
ipython>=7.15.0
m2r2>=0.2.7
sphinx>=5.3.0
sphinx_rtd_theme>=1.2.0
tox>=3.15.2
twine>=3.1.1
wheel>=0.34.2
watchdog>=3.0.0

# extras
tqdm>=4
numpy>=1.24.3
pandas>=2.0.1
pytz>=2023.3
scikit-learn
ipython
